<nav class="navbar navbar-expand navbar-custom" >
  <div class="container">
    <div class="mr-md-2">
      <a href="/" aria-label="Equals Money" class="navbar-brand mr-0">
        <img src="/images/equals.svg" width="184" height="60"/>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/history">History</a>
        </li>
      </ul>
  </div>
</nav>