{
  "executionRoleArn": "arn:aws:iam::$ACCOUNTID:role/$SERVICE-ECSTaskDefinition",
  "containerDefinitions": [
    {
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/ecs/$SERVICENAME",
          "awslogs-region": "eu-west-2",
          "awslogs-stream-prefix": "ecs"
        }
      },
      "portMappings": [
        {
          "containerPort": $PORT,
          "protocol": "tcp",
          "hostPort": $PORT
        }
      ],
      "healthCheck": {
        "retries": 3,
        "command": [
          "CMD-SHELL",
          "wget --spider --quiet --tries=1 http://127.0.0.1:3000/ping || exit 1"
        ],
        "timeout": 10,
        "interval": 30,
        "startPeriod": 10
      },
      "environment": [
        { "name": "NODE_ENV", "value": "$NODE_ENV" },
        { "name": "SENDGRID_MAX_RECIPIENTS", "value": "$SENDGRID_MAX_RECIPIENTS" }
      ],
      "secrets": [
        {  "valueFrom": "${SENDGRID_API_KEY}:sendgrid_api_key::", "name": "SENDGRID_API_KEY" }
      ],
      "memoryReservation": 1024,
      "image": "<IMAGE1_NAME>",
      "essential": true,
      "name": "node"
    }
  ],
  "memory": "2048",
  "taskRoleArn": "arn:aws:iam::$ACCOUNTID:role/$SERVICE-ECSTaskDefinition",
  "family": "$SERVICENAME",
  "requiresCompatibilities": ["FARGATE"],
  "networkMode": "awsvpc",
  "cpu": "512"
}
