[
    {
      "name": "${NAME}",
      "image": "${IMAGE}:${IMAGE_TAG}",
      "memoryReservation": 512,
      "essential": true,
      "cpu": 0,
      "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
          "awslogs-group": "${AWSLOGS_GROUP}",
          "awslogs-region": "eu-west-2",
          "awslogs-stream-prefix": "ecs"
        }
      },
      "command": [
        "${COMMAND}"
      ],
      "environment": [
        {
          "name": "NODE_ENV",
           "value": "${ENVIRONMENT}"
        }
      ],
      "secrets": [
        {  "valueFrom": "${DB_MSQL}:dialect::", "name": "DB_DIALECT" },
        {  "valueFrom": "${DB_MSQL}:host::", "name": "DB_HOST" },
        {  "valueFrom": "${DB_MSQL}:port::", "name": "DB_PORT" },
        {  "valueFrom": "${DB_MSQL}:username::", "name": "DB_USERNAME" },
        {  "valueFrom": "${DB_MSQL}:password::", "name": "DB_PASSWORD" },
        {  "valueFrom": "${DB_MSQL}:database::", "name": "DB_DATABASE" }
      ]
    }
]
