extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="fromEmail" type="email", placeholder="From email") 
    input(name="toEmail" type="email", placeholder="To email") 
    button(type="submit") Send
